# MYSQL #
MYSQL_DSN=root:@/quote_collector?charset=utf8&parseTime=true

# MEMCACHE #
MEMCACHE_SERVERS="127.0.0.1:11211"

# BINANCE API #
BINANCE_KEY=
BINANCE_GET_QUOTE_URL=https://binance.com/api/v3/ticker/price

# EXMO API #
EXMO_GET_QUOTE_URL=https://api.exmo.com/v1/ticker/